<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
</div>

<div id="cta">
  <div class="container">
    <div class="row featurette section">
        <div class="col-md-8">
          <h2 class="featurette-heading">Enjoy the Rich Taste of Rich.</h2>
          <p class="lead">With over 30 years of bringing quality beverages to the world, Rich Beverages is proud to release it's new line of flavors: Blue Raspberry, Lemon Citron and Strawberry Rush. Rich Beverages is proud to say that we only use natural ingredients and sweeteners in our products! See why your tastebuds deserve Rich!</p>
        </div>
        <div class="col-md-4 btn-rich-holder">
          <a href="#" class="btn btn-lg btn-primary btn-rich">Buy Today!</a>
        </div>
    </div>
  </div>
</div><!-- /#cta -->

<div id="userphotos" class="wrapper">
  <div id="statistics">
    <div class="container" role="main">
      <div class="row stats">
        <div class="col-md-4">
          <%= image_tag("bottlessold.png", alt:"3.9 Million Bottles Sold") %>
        </div>
        <div class="col-md-4">
          <%= image_tag("tweets.png", alt:"1,322,000 Tweets Tweeted") %>
        </div>
        <div class="col-md-4">
          <%= image_tag("happycustomers.png", alt:"137 Million Happy Drinkers") %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row share">
      <div class="col-md-8">
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g1.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g2.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g3.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g4.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g5.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g6.jpg") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="share-heading">Share The Wealth!</h2>
        <p class="lead">What makes us happy is seeing our customers happy. Share your best moments with Rich Beverages!</p>
        <a href="#" class="btn btn-lg btn-default btn-outline">Share #RichWealth</a>
      </div>
    </div>
  </div> <!-- /.container -->
</div><!-- /#userphotos -->
<div id="contact" class="container">
  <div class="row form">
    <form>
      <div class="col-md-4">
        <h2 class="featurette-heading">Pre-Order New Diet-Rich!</span></h2>
        <p class="lead">Get on the wait list to try the new upcoming Diet line by Rich.</p>
        <button type="submit" class="btn btn-lg btn-danger">Pre-Order</button>
      </div>
      <div class="col-md-8">
        <div class="col-md-6">
          <label for="name">Name</label>
          <input required name="name" type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="sub">Email</label>
          <input required name="sub" type="email" class="form-control">
        </div>
        <div class="col-md-12">
          <label for="msg">Favorite Non Diet Flavor</label>
          <select required name="flav" class="form-control">
            <option value="" selected disabled>Select Flavor</option>
            <option value="br">Blue Raspberry</option>
            <option value="lc">Lemon Citron</option>
            <option value="sr">Strawberry Rush</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
