<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
</div>

<div id="cta">
  <div class="container">
    <div class="row featurette section">
        <div class="col-md-8">
          <h2 class="featurette-heading">Enjoy the Rich Taste of Rich.</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-lg btn-danger">Buy Today!</a>
        </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container" role="main">
    <div id="userphotos" class="row featurette">
      <div class="col-md-8">
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g1.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g2.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g3.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g4.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g5.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <%= image_tag("g6.jpg") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="featurette-heading">Enjoy the Rich Taste of Rich. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div> <!-- /container -->
</div><!-- /.wrapper -->
